.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
  }

  .game-wrapper {
    display: none;
  }

  .NASA {
    display: none;
  }

  /* .ac-scroll{
    max-height:200px;
    height:100px;
    overflow-y:auto;
    overflow-x:hidden;
    padding-right:20px; 
  } */

